.modal-title{
    text-align: center;
}

.alert-body2{
    width: 15%;
    height: 10vh;
    position: fixed;
    top: 5rem;
    right: 2rem;
}

.match-body{
    position: relative;
    cursor: pointer;
    :hover{
        opacity: 90%;
    };

    .match-content{
        height: 7.5vh;
        width: 98%;
        border: 2px solid #CCCCCC;
        border-radius: 5px;
        box-shadow: #222342;
        padding: 0.75rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .flag-matchrow{
            width: 4.5vh;
        }
    }

    @media (max-width: 900px){

    }
}

.input-score{
    width: 4rem;
    border-radius: 3px;
    margin: 0.55rem;
    text-align: center;
}

.correct-submit-alert{
    position: absolute;
    bottom: 0px;
    width: 50%;
    right: 25%;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.no-spin {
    -moz-appearance:textfield !important;
}