.right-bar{
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    padding-top: 5rem;
    padding-right: 1rem;
}

.right-bar-statistics{
    td{
        color: #DDD;
    }
}