.container {
  position: relative;
  padding: 0.5rem;
  margin-top: 15px;
  left: 10%;
}

.line-1 {
  margin-top: 15px;
  height: 1px;
  background: black;
  width: 80%;
}

.orText {
  left: 50%;
  top: 50%;
}