.body{

}

.table-schedule{
    justify-content: center;
    width: 66%;
    margin: 0 auto;

    td{
      
    }

    .score, .date, .group{
        text-align: center;
        // margin: 0 auto;
        // position: relative;

    }

    .away-team{
        text-align: right;
    }
    
    .home-team{
        text-align: left;
    }
}