.bet-body{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    // grid-template-rows: repeat(3, auto);
    gap: 5rem;
    margin: 0 1rem;
}

@media (max-width: 900px){
    .bet-body{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

    }
}