.ranking-main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-ranking {
    display: flex;
    width: 75%;
  
}

.last-update-score{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;

}

@media (max-width: 900px){
    .list-ranking{
        justify-content: center;
        width: 100%;
    }

    .ranking-main-body{
        width: 140vw;
    }
}