.homepage-main {
    background-image: url('./images/background.jfif');
    height: 160vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10fr);
    grid-template-rows: repeat(10, 10fr);
    padding-top: 1rem;
    padding-left: 2vw;

    .flags {
        grid-column: 1/11;
        grid-row: 1/2;
        flex-direction: row;
        width: 100%;
        justify-content: center;

        .flag {
            padding: 0 0.5%;
            width: 3%;
            min-width: 40px;
        }
    }
    
    .content-body{
        grid-column: 1/11;
        grid-row: 2/3;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .welcome-text{
            gap: 1vw;
            font-weight: 800;
            font-size: 2.2vw;
            color: #EEE;
            display: flex;
            justify-content: center;
            margin: 2vh 0;
            align-items: center;
        }

    .ball-text{
        font-size: 5vh;
        color: #DDD;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
   

    .current-matches{
    display: flex;
    flex-direction: row;
    width: 60%;
    }

    .iframe-styling{
        width: 110%;
        height: 80%;
    }
}
}