.image-container{
    :hover{
        cursor: pointer;
    }
}

.image-stadium{
   width: 31vw; 
   height: 20vw;
}



.bottom-card{
    background: whitesmoke;
    width: 31vw;
    height: 12vh;
    padding: 0 0.5vw;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .row{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2%;
    }
}

.stadium-text-name{
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 1vw;
    text-align: center;
}

.stadium-text-city{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 0.75vw;
}

.stadium-text-size{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: 0.75vw;

}

.opened{
    font-size: 0.75vw;
}

.architect{
    font-size: 0.75vw;
}

@media (max-width: 900px){
    .image-stadium{
        width: 95vw; 
        height: 30vh;
     }

     .bottom-card{
        width: 95vw;
    }
}

@media (max-width: 900px){
    .bottom-card{
        height: 6vw;
    }
}