.knockout-main{
    display: flex;
    background-image: url('../Homepage/background.jfif');
    min-height: 92vh;
}

.dSPpqb{
    justify-content: center;
}

.round-styles{
    color: white !important;
    font-size: 4vh;
    text-align: center;
    
}