.knockout-main{
    display: flex;
    background-image: url('../Homepage/images/background.jfif');
    min-height: 92vh;
}

.won-team-score{
    font-weight: 600;
    color: gold;
}

.team-text{
    margin-left: 5px;
}

.bet-score-knockout{
    color: white;
}

.dSPpqb{
    justify-content: center;
}

.round-styles{
    color: white !important;
    font-size: 4vh;
    text-align: center;
    
}