.knockout-main{
    display: flex;
    background-image: url('../Homepage/images/background.jfif');
    min-height: 92vh;
}

.won-team-score{
    font-weight: 600;
    color: gold;
}

.team-text{
    margin-left: 5px;
}

.bet-score-knockout{
    color: white;
}

.dSPpqb{
    justify-content: center;
}

.round-styles{
    color: white !important;
    font-size: 4vh;
    text-align: center;
    
}


.phone-knockout-body{
    margin: 2vh auto;
    width: 91%;

}

.mobile-knockout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../Homepage/images/background.jfif');
    width: 100%; 
    min-height: 92vh;  
}
