.navbar-main{
    height: 8vh;
    display: flex;
    flex-direction: row;
    opacity: 1;
    z-index: 255;
    position: sticky;
    top: 0;
}

.navbar-content{
    padding-left: 1.5rem; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    min-width: 10rem;
    width: 100%;
    opacity: 1;
    z-index: 50;
}

.png-image{
    z-index: 0;
    width: 4vw;
    height: 4vw;
    min-width: 40px;
    min-height: 40px;
}

.me-auto{
    align-items: center;
}

.nav-hover-item{
    :hover{
        font-weight: 500;
        animation: bounceIn 1s 1s;
        animation-duration: 2s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
    }
}

.navbar-text{
    font-size: 2.5vh;
}


.time-to-start-navbar{
    padding-right: 1vw; 
    display: flex;
    align-items: center;
}

.profile-icon-navbar{
    width: 3vh;
    height: 3vh;

}

@media (max-width: 950px){
    .time-to-start-navbar{
        display: none;
    }

    .navbar-content{
        justify-content: center;
    }

    .navbar-text{
        font-size: 1vh;
    }

    .navbar-content{
        padding-left: 1vw;
    }
    .profile-icon-navbar{
        width: 1.5vh;
        height: 1.5vh;
    }
}