.navbar-content{
    padding-left: 1.5rem; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    min-width: 10rem;
    width: 100%;
}


.navlink-item{
    height: 50px;
}

.png-image{
    z-index: 0;
}

.me-auto{
    align-items: center;
}

.nav-hover-item{
    :hover{
        font-weight: 500;
        animation: bounceIn 1s 1s;
        animation-duration: 2s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
    }
}

.navbar-text{
    font-size: 1.25vw;
}
