
.body-table{
    display: flex;
    align-items: center;
    width: 90%;
}
.placeBroader{
    width: 50px;
    height: 50px;
}

.icon-name-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textCenter{
    td{
        display: table-cell;
        vertical-align: middle;
        color: white;
    }
 
    .goals{
        display: flex;
        justify-content: space-evenly;
    }
}


th{
    color: white;
}