.circle{
    background-color: #00AA55;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 1%;

    &:hover{
        background-color:#55AA55;
        cursor: pointer;
    }

    h2 {
        position: relative;
        margin: 0 auto;
        top: 10px;
    }
}

.chosen{
    background-color:#55AA55 !important;
    border: 2px solid #FFFFFF;
}
