.leftBar-yourbets{
    position: fixed;
    grid-column: 1/3;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    left: 0.75vw;
    @media (max-width: 1500px) {
        display: none;
    }
}

.rightBar-yourbets{
    position: fixed;
    right: 2vw;
    grid-column: 11/13;
    align-items: flex-start;
    padding: 0 2.5rem;
    text-align: center;
    color: #CCCCCC;
    @media (max-width: 1500px) {
        display: none;
    }
}

.circular-bar-sizing{
    width: 8rem;
    height: 8rem;
    padding: 0 0.5rem;
    margin-bottom: 3rem;
}

.bets-main-content{
    grid-column: 3/11;
    scroll-behavior: 'smooth';
}

.my-bets-main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url('../Homepage/images/background.jfif');
    min-height: 92vh;
}

@media (max-width: 900px){
    .my-bets-main{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    .bets-main-content{
        grid-column: 1/12;
    }
}