.group-stage{
    display: flex;
    flex-direction: row;
    background-image: url('../Homepage/background.jfif');
    height: 92vh;
}

.group-stage-center{
    flex-direction: column;
    flex-grow: 12;
    display: flex;
    align-items: center;
}

.group-stage-left{
    flex-grow: 1;
    gap: 2%;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-stage-right{
    flex-grow: 1;
    gap: 2%;   
}