<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$update-score-after-match-fa</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://update-score-after-match-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/eed15410-e741-4074-bf07-9bf70b0d82f0/resourceGroups/football-typer-rg/providers/Microsoft.Web/sites/update-score-after-match-fa</ResourceId>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://update-score-after-match-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>